# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Build directories
build/

# Temporary files
*.tmp
*.swp
*.swo

# Windows thumbnail cache
Thumbs.db

# IDE directories
.vscode/
